# Default ignored files that should be avoided to upload on Github
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.venv/
.idea/
.DS_Store